.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-container {
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.208);
              height: 80vh;
              border-radius: 20px;
              overflow: hidden;
  
      .img {
        width: 500px;
        height: 80vh;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .inputs-container {
          position: relative;
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;
        max-width: 100%;
        height: 100%;
        padding: 40px;
        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          input {
            border: none;
            border-bottom:1px solid rgb(104, 104, 104);
            padding: 10px;
            font-size: 16px;
            &:focus {
              outline: none;
            }
          }
          .submit {
            border-radius: 20px;
            border: none;
            color: white;
            background: rgb(246, 47, 47);
          }
       
        }
           .bottom-div{
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            gap: 10px;
          }
        a{
            color: red;
        }
        p{color:red;
      position: absolute;
  bottom: 70px;}
      }
    }
  }
  @media screen and (max-width: 900px) {
    .login-container {
      .main-container {
        flex-direction: column;
        height: 100vh;
        box-shadow: none;
        .img {
          display: none;
  
        }
        .inputs-container {
      
        }
      }
    }
  }
  