.reset-password-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border-radius: 20px;
    overflow: hidden;

    .inputs-container {
      position: relative;
      display: flex;
      gap: 30px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 400px;
      max-width: 100%;
      height: 100%;
      padding: 40px;
      .title{
        position: absolute;
        top: 100px;
        // left: 40px;
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        input {
          border: none;
          border-bottom:1px solid rgb(104, 104, 104);
          padding: 10px;
          font-size: 16px;
          &:focus {
            outline: none;
          }
        }
        .submit {
          border-radius: 20px;
          border: none;
          color: white;
          background: rgb(246, 47, 47);
        }
      }
      .error {
        color: red;
        position: absolute;
        bottom: 70px;
      }
      .message{
        color: rgb(14, 216, 0);
        position: absolute;
        bottom: 70px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .reset-password-container {
    .main-container {
      flex-direction: column;
      height: 100vh;
      box-shadow: none;
      
      .inputs-container {
      }
    }
  }
}
