.shop-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    width: calc(100% );
    gap:20px 10px;
    position: relative;
}

@media screen and (max-width:800px){
    .shop-card-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
        width: calc(100% );
        gap: 20px;
    }  
}

