.mywiperS {
  height: 60vh;
  z-index: 0;
  .swiper-button-next,
  .swiper-button-prev {
    color: rgb(255, 255, 255);
  }
  .swiper-pagination-bullet-active {
    background: rgb(255, 255, 255);
  }
  .slide-container {
    position: relative;
    height: 60vh;
    width: 100%;
    background: black;
    overflow: hidden;

    .swiper-img-background1 {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 50%;
      transform: translateX(-50%);
      // opacity: .8;
    }
    .text {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        position: absolute;
        right: 40px;
        bottom: 40px;
        font-size: 12px;
      }
      h1 {
        color: rgb(255, 255, 255);
        width: 600px;
        text-align: center;
        max-width: 100%;
        // text-shadow: 0 5px 25px rgba(0, 0, 0, 0.523);
      }
      .buttons {
        position: absolute;
        left: 40px;
        bottom: 40px;
        display: flex;
        gap: 10px;
        button {
          padding: 15px 20px;
          border: none;
          border-radius: 50px;
          font-weight: 600;
          &:nth-child(1) {
            color: rgb(255, 255, 255);
            background: transparent;
            border: 1px solid rgb(255, 255, 255);
          }
          &:nth-child(2) {
            background: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .mywiperS {
    overflow: hidden;
    width: 100%;
    .slide-container {
      .swiper-img-background1 {
        width: 100%;
      }
      .text {
        p {
          display: none;
        }
        h1 {
          font-size: 25px;
          padding: 50px;
          text-align: center;
        }
        .buttons {
          left: 0;
          bottom: 40px;
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          button {
            padding: 15px 0;
            border: none;
            width: 50%;
            border-radius: 50px;
            font-size: 10;
            font-weight: 400;
          }
        }
      }
    }
  }
}
